* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter,SourceSerifPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    pointer-events: none;
    user-select: none;
  }
  
  body {
    background: #f2f2f2;
    background-image: url("images/bg.png");
  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: transparent;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(242, 242, 242, 0));
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(242, 242, 242, 0));
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 200px;
    margin: 0 40px;
  }

  .pop {
    width: 100%;
    height: 300px;
    text-align: center;
  }
  .pop img {
    height: 100%;
    margin: auto;
    display: block;
  }

  .pop-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjusts space between the divs */
    margin: 20px;
  }

  .banner {
    width: 100%;
    height: 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
    scrollbar-width: none;
    position: relative;
  }


 
